{% extends "main.html" %}
{% load crispy_forms_tags %}

{% block head %}
    Список учеников
{% endblock %}


{% block content %}
    <div class="container m-0">
        <form method="get">
            {% for field in filter.form %}
                <div class="col-md-3">{% include 'bootstrap/field.html' with form_show_labels=True %}</div>
            {% endfor %}
            <div class="col-md-2 m-t-10"><button type="submit" class="btn btn-success">Найти</button></div>
        </form>
    </div>
    <hr/>
    <div class="m-0 m-t-40">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th style="width: 1%"></th>
                <th style="width: 15%"> Ученик</th>
                <th style="width: 10%" class="text-center"> Класс</th>
                <th style="width: 10%" class="text-center"> Выполнено тестов</th>
                <th style="width: 10%" class="text-center"> Выполнено практик</th>
                <th style="width: 10%" class="text-center"> Правильность</th>
                <th style="width: 10%" class="text-center"> Сложность</th>
                <th style="width: 10%" class="text-center"> Заданий для разбора</th>
                <th style="width: 20%"></th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <td>
                        <a href="{% url 'profile_detail' student.user.id %}"
                           class="btn btn-xs dropdown-toggle waves-effect waves-light pull-center">
                            <i class="fa fa-address-card-o" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td> {{ student.user.get_full_name }} </td>
                    <td class="text-center"> {{ student.get_grade_display }} </td>
                    <td class="text-center">
                        {{ student.studentparam.tests_finished_count }}
                        {% for sign in student.studentparam.tests_unfinished_count %}
                            <span class="text-danger">
                        <i class="fa fa-2x fa-exclamation" aria-hidden="true"></i>
                        </span>
                        {% endfor %}
                    </td>
                    <td class="text-center"> {{ student.studentparam.practices_finished_count }}</td>
                    <td class="text-center"> {{ student.studentparam.PRT|default_if_none:"-" }} </td>
                    <td class="text-center"> {{ student.studentparam.MCET|default_if_none:"-" }} </td>
                    <td class="text-center"> {{ student.studentparam.k }} ( {{ student.studentparam.m }} )</td>
                    <td class="text-right"><a href="{% url 'tests_list' student.SID %}" class="btn btn-primary"> Тесты </a>
                        <a href="{% url 'program_detail' student.SID %}" class="btn btn-primary"> Программа </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}