{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    Редактирование ответов к заданию
    <a href="{% url 'task_detail' task.code %}"
       class="btn btn-sm btn-info dropdown-toggle waves-effect waves-light pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Вернуться к заданию
    </a>
{% endblock %}

{% block content %}
    <div class="col-md-8">
        <form method="post">
            {{ formset.management_form|crispy }}
            {% csrf_token %}
            {{ form|crispy }}
            {% if task.description is not None and task.description %}
                Описание: {{ task.description }}
            {% endif %}
            {% if task.image %}
                <div class="w-100"><img src="{{ task.image.url }}" class="img-fluid img-thumbnail"></div>
            {% else %}
                <div class="w-100"><img src="{% static '/images/blank.jpg' %}"
                                        class="img-fluid img-thumbnail">
                </div>
            {% endif %}
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th class="col-md-1 text-center"></th>
                    <th class="col-md-3 text-center"> Тип ответа</th>
                    <th class="col-md-3 text-center"> Текст</th>
                    <th class="col-md-1 text-center"> Удалить?</th>
                </tr>
                </thead>
                <tbody>
                {% for answer_form in formset %}
                    {% if answer_form.errors %}
                        <tr>
                            <td> {% for e in answer_form.non_field_errors %} {{ e }} {% endfor %}</td>
                        </tr>
                    {% endif %}
                    <tr class="text-center">
                        {% for field in answer_form %}
                            {% include 'bootstrap/field.html' with tag="td" form_show_labels=False %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-success"> Сохранить изменения</button>
        </form>
    </div>
{% endblock %}

