{% extends "main.html" %}
{% load crispy_forms_tags %}

{% block head %}
    Редактирование задания
    <a href="{% url 'task_detail' task.code %}"
       class="btn btn-sm btn-info dropdown-toggle waves-effect waves-light pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Вернуться к заданию
    </a>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success"> Сохранить изменения</button>
    </form>
{% endblock %}