{% extends "main.html" %}
{% load crispy_forms_tags %}


{% block panel_top %}
    Загрузка архива с изображениями
{% endblock %}


{% block content %}
    <div class="container">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success"> Загрузить файл</button>
        </form>
    </div>

    <div class="container mt-4">
        <table class="table table-sm">
            <caption> Пример таблицы</caption>
            <thead>
            <tr>
                <th> code</th>
                <th> task</th>
                <th> answer_type</th>
                <th> text</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td> 156</td>
                <td> 34</td>
                <td> r </td>
                <td> Пример ответа</td>
            </tr>
            <tr>
                <td> ...</td>
                <td> ...</td>
                <td> ...</td>
                <td> ...</td>
            </tr>
            </tbody>
        </table>
        Примечания: (надо обновить для ответов)
        <ul>
            <li> Названия столбцов в файле должны в точности совпадать с "Примером таблицы"</li>
            <li> Файл не должен содержать пустые строки</li>
            <li> Представленные в Банке знаний задания начинаются с номера: {{ min_code }} </li>
            <li> Представленные в Банке знаний задания заканчиваются на номере: {{ max_code }} </li>
            <li> Во избежание ошибок используйте номера, не входящие в этот интервал</li>
            <li> В столбце "topic" необходимо указать КОД темы, указанный в Банке знаний</li>
            <li> Перед загрузкой убедитесь, что темы с указанными кодами действительно присутствуют в системе</li>
            <li> Значение "group" по умолчанию "-1", означающее, что задание не относится к выделенной группе.
                Однако для стабильности желательно это значение указывать, даже если группа будет состоять только из
                этого задания
            </li>
            <li> Значения столбца "expert_level":
                <ul>
                    <li> 0 - низкий</li>
                    <li> 1 - средний</li>
                    <li> 2 - высокий</li>
                </ul>
                Используйте только их!
            </li>
            <li> Значение 1 в столбце "learning" означает, что задание используется только на этапе изучения, иначе 0,
                если задание для этапа практики
            </li>
            <li> Ячейки в столбце "description" могут быть пустыми</li>

        </ul>
    </div>
{% endblock %}