{% extends "main.html" %}
{% load crispy_forms_tags %}

{% block head %}
    Программа
    <a href="{% url 'refresh_params' student.SID %}"
       class="btn btn-sm btn-info dropdown-toggle waves-effect waves-light pull-right">
        <i class="fa fa-refresh" aria-hidden="true"></i> Обновить параметры
    </a>
{% endblock %}


{% block content %}
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th class="col-1" rowspan="2"></th>
            <th class="col-4" rowspan="2"> Тема</th>
            <th class="col-1 text-center" rowspan="2"> Статус</th>
            <th class="col-2 text-center" colspan="2"> Изучение</th>
            <th class="col-2 text-center" colspan="2"> Практика</th>
            <th class="col-1 text-center" rowspan="2"> Заданий для разбора</th>
            <th class="col-1 text-center" rowspan="2"></th>
        </tr>
        <tr>
            <th class="text-center"> глубина</th>
            <th class="text-center"> правильность</th>
            <th class="text-center"> сложность</th>
            <th class="text-center"> правильность</th>
        </tr>
        </thead>
        <tbody>
        {% for module in program %}
            <tr style="background: {{ module.moduleparam.get_color_display }}">
                <td class="text-center">
                    <a href="{% url 'module_detail' module.MID %}"
                       class="btn btn-xs dropdown-toggle waves-effect waves-light pull-center">
                        <i class="fa fa-lg fa-info" aria-hidden="true"></i>
                    </a>
                </td>
                <td> {{ module.topic.name }} </td>
                <td class="text-center align-center"> {{ module.get_status_display }} </td>
                <td class="text-center align-center"> {{ module.moduleparam.LPEG|default_if_none:"-" }} </td>
                <td class="text-center align-center"> {{ module.moduleparam.LPRT|default_if_none:"-" }} </td>
                <td class="text-center align-center"> {{ module.moduleparam.last_unit_RMCAT|default_if_none:"-" }} </td>
                <td class="text-center align-center"> {{ module.moduleparam.last_unit_RPRT|default_if_none:"-" }} </td>
                <td class="text-center align-center"> {{ module.moduleparam.k }} ( {{ module.moduleparam.m }} )</td>
                <td>
                    <a href="{% url 'module_items_rework_list' module.MID %}" class="btn btn-sm btn-primary">
                        Разобрать
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if request.user.is_admin %}
        <a href="{% url 'program_edit' student.SID %}" class="btn btn-primary">
            <i class="fa fa-gears" aria-hidden="true"></i>
            Редактировать программу
        </a>
        <a href="{% url 'program_update' student.SID %}" class="btn btn-primary">
            <i class="fa fa-gears" aria-hidden="true"></i>
            Настроить программу
        </a>
    {% endif %}
{% endblock %}